/************about_us css start***************/


/* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */

.padding1 {
    padding-bottom: 10% !important;
    padding-top: 5% !important;
}

.about_us {
    position: relative;
    z-index: 99;
}

@media (max-width: 991px) {
    /* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us {
        padding: 0 0 70px;
    }
}


/* line 11, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */

.about_us .feature_icon_1 {
    position: absolute;
    left: 15%;
    top: 12%;
    z-index: -1;
}


/* line 17, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */

.about_us .feature_icon_2 {
    position: absolute;
    right: 15%;
    top: 12%;
    z-index: -1;
}


/* line 25, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */

.about_us .about_us_text img {
    margin-bottom: 10px;
}


/* line 28, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */

.about_us .about_us_text h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 55px;
    margin-bottom: 28px;
    position: relative;
}

@media (max-width: 576px) {
    /* line 28, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text h2 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    img {
        width: 100% !important;
    }
    .padding1 {
        padding-bottom: 10% !important;
        padding-top: 5% !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 28, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text h2 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    img {
        width: 100% !important;
    }
    .padding1 {
        padding-bottom: 10% !important;
        padding-top: 5% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 28, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text h2 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    img {
        width: 100% !important;
    }
    .padding1 {
        padding-bottom: 10% !important;
        padding-top: 5% !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 28, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text h2 {
        font-size: 28px;
        margin-bottom: 20px;
        line-height: 40px;
    }
}


/* line 59, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */

.about_us .about_us_text p {
    line-height: 36px;
    margin-bottom: 57px;
}

@media (max-width: 576px) {
    /* line 59, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text p {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 59, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text p {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 59, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text p {
        margin-bottom: 20px;
    }
}


/* line 78, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */

.about_us .about_us_text .btn_1 {
    margin-right: 30px;
}

@media (max-width: 991px) {
    /* line 78, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text .btn_1 {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 78, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .about_us .about_us_text .btn_1 {
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    /* line 91, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .learning_img {
        margin-top: 30px;
    }
    /* line 95, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .right_time .learning_img {
        margin-top: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 102, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .learning_img {
        margin-top: 40px;
    }
    /* line 107, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .right_time .learning_img {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    /* line 114, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .right_time {
        padding: 70px 0 0;
    }
    /* line 117, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_about_us.scss */
    .right_time .about_us_text h2 {
        margin-top: 30px;
    }
}