<!--================ Offcanvus Menu Area =================-->

<div class="side_menu ">

    <ul class="list menu-left">
        <li>
            <div class="small-logo">
                <a href="/">
                    <img src="../../assets/img/logo.svg" width="70%" alt="">
                </a>
            </div>
        </li>
        <li *ngFor="let item of data">
            <a href="{{item.url}}">{{item.name}}</a>
        </li>

    </ul>
</div>
<!--================ End Offcanvus Menu Area =================-->

<!--================ Canvus Menu Area =================-->
<div class="logo">

</div>
<div class="canvus_menu">

    <div class="container">

        <div class="toggle_icon" title="Menu Bar">

            <span></span>

        </div>

        <div class="logo main-logo " style="width: 125px;">
            <a href="/">
                <img src="../../assets/img/full logo.png" width="160%" height="auto" alt="">
            </a>
        </div>


    </div>

</div>
<!--================ End Canvus Menu Area =================-->