<!--================ Offcanvus Menu Area =================-->
<div class="side_menu ">
    <div class="logo">
        <a href="index.html">
            <img src="../../assets/img/logo.png" alt="">
        </a>
    </div>
    <ul class="list menu-left">
        <li *ngFor="let item of data">
            <a href="{{item.url}}">{{item.name}}</a>
        </li>
        <!-- <li>
            <a href="about-us.html">About</a>
        </li>
        <li>
            <a href="service.html">Service</a>
        </li>
        <li>
            <div class="dropdown">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    Projects
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="project.html">Project</a>
                    <a class="dropdown-item" href="project-details.html">Project Details</a>
                </div>
            </div>
        </li>
        <li>
            <a href="team.html">Team</a>
        </li>
        <li>
            <div class="dropdown">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    Pages
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="elements.html">Elements</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    Blog
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="blog.html">Blog</a>
                    <a class="dropdown-item" href="single-blog.html">Blog Details</a>
                </div>
            </div>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li> -->
    </ul>
</div>
<!--================ End Offcanvus Menu Area =================-->

<!--================ Canvus Menu Area =================-->
<div class="canvus_menu">
    <div class="container">
        <div class="toggle_icon" title="Menu Bar">
            <span></span>
        </div>
    </div>
</div>
<!--================ End Canvus Menu Area =================-->





<section class="service-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="section-title">
                    <p>We Are Providing these services</p>
                    <h1>We Are <span>Crafted.</span> We Provide These <br> Services to Our Customers</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-features -->
            <div *ngFor="let item of data" class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="./../../assets/img/service/shape1.png" alt="">
                        <img class="s-icon" src="./../../assets/img/service/icon1.png" alt="">
                        <img class="clr-icon" src="{{item.img}}" alt="">
                    </div>
                    <div class="service-content">
                        <h4>{{item.headeing}}</h4>
                        <p>{{item.content}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>