<!--::about_us part start::-->
<section class="about_us right_time">
    <div class="container">
        <div class="row  justify-content-between">
            <div class="col-md-6 align-items-center col-lg-6">
                <div class="learning_img">
                    <img src="../../../assets/img/visionary.svg" width="100%" height="auto" alt="">
                </div>
            </div>
            <div class="col-md-6 align-items-left col-lg-5">
                <div class="home-banner-left">
                    <!-- <img src="../../../assets/img/icon/Icon_2.png" alt=""> -->
                    <h1> We are Visionary!</h1>
                    <h1 style="margin-top:-5%"> <span> We are Reonpshere!</span>
                    </h1>
                    <h4>Leaders in the Field</h4>
                    <p>Reonsphere is a visionary organization. Its team has a clear, sharp and big vision in mind, taking small yet smart steps towards success. We are visionary, creative, productive, efficient, energetic and gigantic in terms of aspiration.
                        We are an organization with a mission to provide professional and digital services to individuals and businesses and ensure that they grow their business in more smart and efficient way.
                    </p>
                    <!-- <a href="#" class="btn_2">learn more</a> -->
                </div>
            </div>
        </div>
    </div>
    <img src="../../../assets/img/animate_icon/Ellipse_5.png" alt="" class="feature_icon_2 custom-animation2">
</section>
<!--::about_us part end::-->