<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-left">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/about-us">About Us</a>
                </div>
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Video Area =================-->
<section class="video-sec-area">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-left justify-content-center align-items-center d-flex">
                <div class="overlay overlay-bg"></div>
                <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?time_continue=2&v=J9YzcEe29d0">
                    <span></span>
                </a>
            </div>
            <div class="col-lg-5 offset-lg-1 video-right">
                <h1>We Are Crafted. <br> Some Info About Us</h1>
                <p>
                    We are the fastest evolving and growing IT company in India. In the era of business 4.0, Industry 4.0 and Marketing 4.0 we are helping businesses, startups and organizations to get their business to the next level and take the advantages of the new era
                    of business, marketing and industry. People start and grow their businesses in a progressive strategical way using our products and services to succeed and leverage the advantage the technology and this digital era.
                </p>


                <div class="counter_area" id="project_counter">
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">8</span></h4>
                            <p>Team Members</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">4</span></h4>
                            <p>Solved Cases</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">4</span></h4>
                            <p>Trusted Clients</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">2</span></h4>
                            <p>Achievements</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-fluid video-shape" src="../../assets/img/video-bg-shape.png" alt="">
        </div>
    </div>
</section>
<section class="about_us section-gap ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <!-- <img src="../assets/img/icon/Icon_1.png" alt=""> -->
                    <h2>Vision</h2>
                    <p>To be the top IT solutions provider globally with products focus on best design, experience, efficiency and growth rate for startups, MSME's and other businesses
                    </p>

                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="learning_img">
                    <img src="../assets/img/vision.svg" width="90%" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="../assets/img/animate_icon/Ellipse_4.png" alt="" class="feature_icon_1 custom-animation1">
</section>
<!--::about_us part end::-->

<!--::about_us part start::-->
<section class="about_us right_time ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="learning_img">
                    <img src="../assets/img/mission.svg" width="90%" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <!-- <img src="../assets/img/icon/Icon_2.png" alt=""> -->
                    <h2>Mission</h2>
                    <p>Reonsphere will provide products and services that not only meet but exceed the expectations of our customers at design and experience of the product at an affordable price range with continuous growth and development of products,
                        services, process and people.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <img src="../assets/img/animate_icon/Ellipse_5.png" alt="" class="feature_icon_2 custom-animation2">
</section>
<!--::about_us part end::-->
<!-- <section class="subscribe_part padding_top">
    <div class="container">
        <div class="row justify-content-right">
            <div class="col-lg-12">
                <div class="section_tittle text-left ">
                    <h2>About Team</h2>
                    <p>Reonsphere is a visionary organization. Our team has a clear, sharp and big vision in mind, taking small yet smart steps towards success. We are visionary, creative, productive, efficient, energetic and gigantic in terms of aspiration.
                        We are an organization with a mission to provide best in class professional and digital services to individuals and businesses creating high value at affordable prices and ensure that they grow their business in more smart and
                        efficient way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe_part padding_top">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-lg-12">
                <div class="section_tittle text-right ">
                    <h2>About CEO</h2>
                    <p>A graduate engineer from a moderate college with a vision to provide excellent and flawless design and experience products to customers. Reonsphere has one of the most visionary CEO in the world. Leading an extraordinary team of creative
                        and passionate people in the organization to accomplish individual, team and organizational goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe_part padding_top">
    <div class="container">
        <div class="row justify-content-right">
            <div class="col-lg-8">
                <div class="section_tittle text-left ">
                    <h2>Few words from CEO</h2>
                    <p>Design, experience (UI/UX) and efficiency is what makes a product at its best in the market. Product should always focus either on innovation or upgradation of the existing solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--================ End video Area =================-->

<!--================ Start CTA Area =================-->

<!--================ End CTA Area =================-->

<!--================ Start Team Area =================-->

<app-team></app-team>
<!--================ End Team Area =================-->

<!--================ Start Testimonial Area =================-->



<app-feedback></app-feedback>
<div class="section-gap-bottom">
</div>
<!--================ End Testimonial Area =================-->