<!--================Home Banner Area =================-->
<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-left">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/why-us">Why us</a>
                </div>
                <h2>Why us</h2>
            </div>
        </div>
    </div>
</section>

<app-what-you-get></app-what-you-get>
<!--================ Start CTA Area =================-->
<section class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <h2>Come Build Extraordinary Things</h2>
                <p>Reonsphere will provide products and services that not only meet but exceed the expectations of our customers at design and experience of the product at an affordable price range with continuous growth and development of products, services,
                    process and people. Customers chose us over others as we provide our products and services with best in class design, user experience, efficiency of the products focusing on the growth of the business.
                </p>

                <a href="/contact-us" class="primary-btn">Get Estimate for Free</a>
            </div>
            <img src="../../../assets/img/cta-bg-shape.png" alt="" class="cta-shape img-fluid">
        </div>
    </div>
</section>
<!--================ End CTA Area =================-->