<app-team></app-team>
<!--================ Start Video Area =================-->
<section class="video-sec-area">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-left justify-content-center align-items-center d-flex">
                <div class="overlay overlay-bg"></div>
                <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?time_continue=2&v=J9YzcEe29d0">
                    <span></span>
                </a>
            </div>
            <div class="col-lg-5 offset-lg-1 video-right">
                <h1>We Are Crafted. <br> Some Info About Us</h1>
                <p>
                    In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.
                </p>

                <div class="counter_area" id="project_counter">
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">500</span>+</h4>
                            <p>Qualified Lawyer</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">20,650</span>+</h4>
                            <p>Solved Cases</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">2.5</span>k+</h4>
                            <p>Trusted Clients</p>
                        </div>
                    </div>
                    <!-- single counter -->
                    <div class="single_counter">
                        <div class="info-content">
                            <h4><span class="counter">50</span>+</h4>
                            <p>Achievements</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-fluid video-shape" src="img/video-bg-shape.png" alt="">
        </div>
    </div>
</section>
<!--================ End video Area =================-->