<!--================ start banner Area =================-->



<section class="home-banner-area">
    <div class="container">

        <div class="row justify-content-end fullscreen">


            <div class="col-lg-6 col-md-12 home-banner-left d-flex fullscreen align-items-center">
                <div>
                    <h1 class="">
                        We Help You Create <br/> <span>Unfair Advantage</span> <br> For Your <span>Business</span>.
                    </h1>
                    <p class="mx-auto mb-40">
                        We are one of the fastest growing IT company in India providing products and services in application, digital and design products focusing on best design, experience, efficiency and growth.

                    </p>
                    <a href="/about-us" class="primary-btn">More About Us</a>

                    <div class="d-flex align-items-center mt-60">
                        <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=vParh5wE-tM">
                            <span></span>
                        </a>
                        <div class="watch_video">
                            <h5>Watch Live Demo</h5>
                            <p>You will love our execution</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding home-banner-right d-flex fullscreen align-items-end">

                <img class="img-fluid img-fluid1" src="./../../assets/img/header-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--================ End banner Area =================-->

<!--================ Start Brand Area =================-->
<section class="brand-area">
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-lg-6">
                <div class="brand-carousel owl-carousel">
                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="../../../assets/img/client logos/Mahaveer_Electricals.svg" width="30%" height="13%" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <div class="single-brand-item d-table df-height">
                        <div class="d-table-cell">
                            <img src="../../../assets/img/client logos/United_Tastes_of_Godavari.jpg" width="500px" height="100px" alt="">
                        </div>
                    </div>

                    <!-- single-brand -->
                    <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="../../../assets/img/client logos/Stackathon Logo.png" width="10%" height="6%" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <div class="single-brand-item d-table df-height">
                        <div class="d-table-cell">
                            <img src="../../../assets/img/client logos/SuBrains Logo.png" width="2%" height="3%" alt="">
                        </div>
                    </div>
                    <!-- single-brand -->
                    <!-- <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="./../../assets/img/brands/b2.png" alt="">
                        </div>
                    </div> -->
                    <!-- single-brand -->
                    <!-- <div class="single-brand-item d-table df-height">
                        <div class="d-table-cell">
                            <img src="./../../assets/img/brands/b1.png" alt="">
                        </div>
                    </div> -->
                    <!-- single-brand -->
                    <!-- <div class="single-brand-item d-table">
                        <div class="d-table-cell">
                            <img src="./../../assets/img/brands/b4.png" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Brand Area =================-->