<!--================ Start Portfolio Service Area =================-->
<section class="portfolio-area section-gap">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="portfolio-main">
                    <h1>Recent Portfolio <br> Showcase</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                    <a href="#" class="primary-btn">View all Works</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="active-gallery-carousel">
                    <!-- single gallery -->
                    <div class="single-gallery">
                        <img class="img-fluid" src="./../../assets/img/project/gallery1.jpg" alt="">
                        <div class="gallery-content">
                            <p>Proper Guided Tour</p>
                            <h4>Santorini Island Dream <br> Holiday and Fun <br> Package
                            </h4>
                        </div>
                        <div class="light-box">
                            <a href="./../../assets/img/project/gallery1.jpg" class="img-popup">
                                <span class="lnr lnr-link"></span>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery -->
                    <div class="single-gallery">
                        <img class="img-fluid" src="./../../assets/img/project/gallery2.jpg" alt="">
                        <div class="gallery-content">
                            <p>Proper Guided Tour</p>
                            <h4>Santorini Island Dream <br> Holiday and Fun <br> Package
                            </h4>
                        </div>
                        <div class="light-box">
                            <a href="./../../assets/img/project/gallery2.jpg" class="img-popup">
                                <span class="lnr lnr-link"></span>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery -->
                    <div class="single-gallery">
                        <img class="img-fluid" src="./../../assets/img/project/gallery3.jpg" alt="">
                        <div class="gallery-content">
                            <p>Proper Guided Tour</p>
                            <h4>Santorini Island Dream <br> Holiday and Fun <br> Package
                            </h4>
                        </div>
                        <div class="light-box">
                            <a href="./../../assets/img/project/gallery3.jpg" class="img-popup">
                                <span class="lnr lnr-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Portfolio Service Area =================-->