<!--================ Start Team Area =================-->
<section class="team-area section-gap">
    <div class="container">
        <div class="owl-carousel active-team-carusel">
            <!-- single carousel -->
            <div class="row align-items-center single-item">
                <div class="col-lg-6 col-md-6">
                    <div class="team-left">
                        <img class="img-fluid" src="../../../assets/img/few_words_from_ceo.png" alt="">
                        <div class="member-desc d-flex justify-content-between align-items-center">
                            <div class="m-title">
                                <h4>Sandeep Jain</h4>
                                <p>Founder and CEO</p>
                            </div>
                            <div class="m-social">
                                <div class="t-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="b-icons">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6 team-right">
                    <h1>Few words from CEO</h1>
                    <p>
                        Design, experience (UI/UX) and efficiency is what makes a product at its best in the market. Product should always focus either on innovation or upgradation of the existing solutions.
                    </p>
                    <!-- <a class="primary-btn" href="#">view members</a> -->
                </div>
            </div>
            <!-- single carousel -->
            <!-- <div class="row align-items-center single-item">
                <div class="col-lg-6 col-md-6">
                    <div class="team-left">
                        <img class="img-fluid" src="./../../assets/img/team1.jpg" alt="">
                        <div class="member-desc d-flex justify-content-between align-items-center">
                            <div class="m-title">
                                <h4>Randy Weaver</h4>
                                <p>Senior Barrister at law</p>
                            </div>
                            <div class="m-social">
                                <div class="t-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="b-icons">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6 team-right">
                    <h1>Our Interactive <br> Team Mates</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                    </p>
                    <a class="primary-btn" href="#">view members</a>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!--================ End Team Area =================-->