<!--::Header part end::-->

<!--::banner part start::-->

<app-welcome></app-welcome><br><br>

<app-what-you-get></app-what-you-get><br><br>



<app-shaping-the-future></app-shaping-the-future><br><br><br>

<app-we-arer-reonpshere></app-we-arer-reonpshere><br><br>

<app-what-we-do></app-what-we-do><br><br>
<!-- <app-portfolio></app-portfolio><br><br> -->
<app-feedback></app-feedback><br><br>

<app-clients></app-clients><br><br>

<!-- <app-team></app-team> -->
<!-- <app-team-video></app-team-video><br><br> -->


<app-come-build></app-come-build>